@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --text-font:'Roboto', sans-serif;
    --text-head: 'Oswald', sans-serif;
}

.head-profile h2{
    font-family: var(--text-head);
    font-weight: bold;
    letter-spacing: 3px;
}

.body-class{
    background-color: #d2f5e3;
}

.but-order {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 17px;
    font-family: var(--text-font);
    font-weight: bold;
    letter-spacing: 2px;
}

@media only screen and (min-width: 1000px) {
    .but-order:hover {
        background: #075dce;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.7);
        transition: all 0.3s ease 0s;
        }
  }


.but-order-log {
    background-color: transparent;
    letter-spacing: 2px;
    color: rgb(204, 46, 35);
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(204, 46, 35);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 17px;
    font-family: var(--text-font);
    font-weight: bold;
}

.but-order-log i {
    font-size: 22px;
    color: rgb(204, 46, 35);
    padding-right: 5px;
}

.but-order-log:hover{
    background-color: rgb(204, 46, 35);
    color: white;
    transition: 0.5s;
}

.but-order-log:hover .log-icon {
    color: white;
    transition: 0.5s;
}

.log-icon {
    color: black;
}

.prof-card {
    text-align: center;
    outline: none;
    box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0.4),
    7px 7px 15px rgba(55, 84, 170,.2),
    -7px -7px 20px #d2f5e3,
    inset 0px 0px 4px rgba(255, 255, 255,.2);
    height: auto;
    width: 50%;
    border: none;
    border-radius: 10px;
}

@media only screen and (max-width: 550px) {
    .prof-card {
        width:80%
    }
    .but-order-btn {
        width:fit-content;
    }
    
  }



.prof-card p {
    font-family: var(--text-font);
    font-size: 17px;
    letter-spacing: 1.5px;
}

.but-order-btn {
    background-color: #d2f5e3;
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: var(--text-font);
    font-weight: bold;
    letter-spacing: 2px;
}

.but-order-btn i {
    padding-right: 7px;
    font-size: 20px;
}

.but-order-btn:hover .but-order-btn-icon{
    color: white;
    transition: 0.5s;
}

.but-order-btn:hover {
    color: white;
    background-color: #007bff;
    transition: 0.5s;
}

.prof-img {
    width: 100px;
}

.prof-img-google {
    width: 50px;
}

.prof-p strong {
    font-size:20px;
    font-weight: bolder;
    color: rgb(172, 104, 27);
}


.but-order-btn-g {
    background-color: #d2f5e3;
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(204, 46, 35);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: var(--text-font);
    font-weight: bold;
    letter-spacing: 2px;
}

.but-order-btn-g i {
    padding-right: 7px;
    font-size: 20px;
}

.but-order-btn-g:hover .but-order-btn-g-icon{
    color: white;
    transition: 0.5s;
}

.but-order-btn-g:hover {
    color: white;
    background-color: rgb(204, 46, 35);
    transition: 0.5s;
}